In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df_test = pd.read_csv("./data/test.csv")
df_train = pd.read_csv("./data/train.csv")
df_sample = pd.read_csv("./data/sample_submit.csv")

In [3]:
df_train

,index,Order,MS SubClass,MS Zoning,Lot Area,Lot Shape,Land Contour,Lot Config,Neighborhood,Bldg Type,...,Garage Cars,Garage Area,Paved Drive,Wood Deck SF,Open Porch SF,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,200,2163,20,RL,9000,Reg,Lvl,Inside,NAmes,1Fam,...,1.998003,381.014258,Y,0,0,7,2007,WD,Normal,158000
1,3832,1862,20,RL,9600,Reg,Lvl,Inside,CollgCr,1Fam,...,1.998003,384.114652,Y,0,0,11,2007,WD,Normal,145000
2,4927,754,20,RL,9600,Reg,Lvl,Inside,NridgHt,1Fam,...,2.998015,625.140330,Y,0,0,5,2008,WD,Normal,125000
3,4088,641,80,RL,9600,Reg,Lvl,Inside,OldTown,1Fam,...,0.998002,193.156275,Y,0,0,7,2006,WD,Normal,135000
4,3644,754,20,RL,9600,Reg,Lvl,Inside,NoRidge,1Fam,...,2.998012,617.903766,Y,0,0,7,2007,WD,Normal,175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,4931,27,120,RL,1680,Reg,Lvl,Inside,NridgHt,TwnhsE,...,1.998001,416.886419,Y,0,0,5,2009,WD,Normal,130000
2996,3264,2203,160,RL,2665,Reg,Lvl,Inside,MeadowV,1Fam,...,1.998004,371.721904,Y,0,0,5,2006,WD,Normal,140000
2997,1653,2447,20,RL,7200,Reg,Lvl,Inside,NAmes,1Fam,...,1.998003,379.306321,Y,0,0,7,2007,WD,Normal,158000
2998,2607,378,60,FV,9000,Reg,Lvl,Inside,Somerst,1Fam,...,1.998002,371.138581,Y,0,0,7,2007,WD,Normal,158000
2999,2732,2284,20,RL,9600,Reg,Lvl,Inside,Edwards,1Fam,...,0.998001,183.425942,Y,0,0,6,2009,WD,Normal,153000

In [17]:
for i in df_train:
  # print(i)
  if i.isnull() == True:
    print(df_train[i])

AttributeError: 'str' object has no attribute 'isnull'

In [30]:
flg = df_train.dtypes.isnull()